<div class="logo-container">
      <a href=""
        ><img
          src="./logo.png"
          width="150px"
          height="150px"
          style="
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
          "
      /></a>
    </div>
    <div class="chat-box">
      <div class="chat-box-header">TherapyAi</div>
      <div class="chat-box-body">
        <div class="response">
          <p>Welcome to Therapy Ai</p>
        </div>
      </div>
      <div class="chat-box-footer">
        <input type="text" placeholder="Ask a question..." />
        <button>Send</button>
      </div>
    </div>
    <div class="codingnexus">
      <a href="">Created by Javideas and Erica Sanchez</a>
    </div>
    <script src="/src/main.js"></script>